#foto-CV{
    width: 20%;
    height: 20%;
    margin: 1vw;
}

#navbarCustom{
    background-color: #4d7ca0;
}

.buttonNavBarCustom{
    background-color: #259BF5;
    border: 1px;
    border-radius: 25px;
    margin: 5px;
    padding: 2px;
}

.titulo-sección{
font-size: xx-large;
font-weight: bold;
margin-top: 1vw;
margin-left: 1vw;
}

.contenido-sección{
    font-size: large;
    font-weight: unset;
    margin-left: 1vw;
    }

.column-text{
    display: flex;
    flex-direction: column;
}

.imagen-text{
    display: flex;
}

@media (max-width: 600px) {
    #foto-CV{
        width: 100%;
        margin: 0%;
    }

    .buttonNavBarCustom{
        background-color: transparent;
        border: 1px;
        border-radius: 0px;
        margin: 0px;
        padding: 0px;
    }

    .imagen-text{
        display: block;
    }
    
  }