.competencias {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .competencias .div {
    background-color: #ffffff;
    width: 1280px;
    height: 720px;
    position: relative;
  }
  
  .competencias .header {
    position: absolute;
    width: 1280px;
    height: 100px;
    top: 0;
    left: 0;
    background-color: #d9d9d9;
  }
  
  .competencias .text-wrapper {
    position: absolute;
    top: 27px;
    left: 29px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .competencias .menu-navegacion {
    position: absolute;
    width: 146px;
    height: 248px;
    top: 401px;
    left: 29px;
  }
  
  .competencias .text-wrapper-2 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .competencias .text-wrapper-3 {
    position: absolute;
    top: 56px;
    left: 0;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .competencias .text-wrapper-4 {
    position: absolute;
    top: 112px;
    left: 0;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .competencias .text-wrapper-5 {
    position: absolute;
    top: 168px;
    left: 0;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .competencias .text-wrapper-6 {
    position: absolute;
    top: 224px;
    left: 1px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .competencias .foto-CV {
    position: absolute;
    width: 284px;
    height: 231px;
    top: 135px;
    left: 29px;
    object-fit: cover;
  }
  
  .competencias .titulo-titulo {
    position: absolute;
    top: 134px;
    left: 366px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .competencias .contenido-seccion {
    position: absolute;
    width: 884px;
    top: 189px;
    left: 366px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  